.ql-editor.ql-blank::before {
  font-size: 1rem;
}

.ql-bubble .ql-tooltip {
  background-color: #000;
}
.ql-bubble .ql-tooltip:not(.ql-flip) .ql-tooltip-arrow {
  border-bottom: 6px solid #000;
}

.ql-editor p,
li {
  font-size: 1rem;
}

.ql-editor > h1 {
  font-weight: 400;
  color: black;
}
