.grid-sizer,
.note-card {
  width: 25%;
  padding: 0.5rem;
}

@media only screen and (max-width: 375px) {
  .grid-sizer,
  .note-card {
    width: 100%;
  }
}

@media only screen and (min-width: 376px) and (max-width: 768px) {
  .grid-sizer,
  .note-card {
    width: 50%;
  }
}

#input-note-title {
  color: var(--primary-text-color);
}

/*///////////////////////// TEXT FORMATTING /////////////////////////*/

.note-text h1 {
  font-size: 26px;
  line-height: 37px;
  font-weight: 400;
  color: var(--primary-text-color);
}

.note-text h2 {
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  color: var(--primary-text-color);
}

.note-text p,
li {
  color: var(--primary-text-color);
}

.note-text ul > li::before {
  content: '\2022';
  display: inline-block;
  margin-left: -1.5em;
  margin-right: 0.3em;
  text-align: right;
  white-space: nowrap;
  width: 1.2em;
}

.note-text ul {
  list-style-type: none;
}

.note-text blockquote {
  border-left: 3px solid #fff;
  font-style: italic;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 16px;
}

.note-text > pre,
.note-text > .ql-code-block {
  font-size: 1rem;
  border-radius: 3px;
  font-family: monospace;
  background-color: #23241f;
  color: #f8f8f2;
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 5px 10px;
}
