.ql-container {
  font-family: 'Inter', Helvetica, Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';
  display: flex;
  flex-direction: column-reverse;
}

.ql-editor {
  min-height: 300px;
  max-height: 55vh;
  border-radius: 5px;
  padding: 15px 12px;
}

.ql-toolbar {
  border-radius: 0 0 5px 5px;
  border: 0;
}

.ql-editor.ql-blank::before {
  left: 12px;
  font-size: 1rem;
}

.ql-bubble .ql-tooltip {
  background-color: #000;
}
.ql-bubble .ql-tooltip:not(.ql-flip) .ql-tooltip-arrow {
  border-bottom: 6px solid #000;
}

.ql-snow .ql-picker.ql-expanded .ql-picker-options {
  top: unset;
  bottom: 100%;
}

/*///////////////////////// TEXT FORMATTING /////////////////////////*/

.ql-snow .ql-editor h1 {
  font-size: 26px;
  line-height: 37px;
  font-weight: 400;
  color: var(--primary-text-color);
}

.ql-snow .ql-editor h2 {
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  color: var(--primary-text-color);
}

.ql-snow .ql-editor p,
li,
blockquote {
  font-size: 1rem;
  color: var(--primary-text-color);
}

.ql-code-block {
  font-size: 1rem;
}

.ql-editor ol {
  padding-left: 1rem;
}

.ql-snow .ql-editor blockquote {
  border-left: 3px solid #ccc;
  font-style: italic;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 16px;
}

#new-note-title {
  width: 100%;
  border: 1px solid #ccc;
  border-bottom: 0;
  padding: 15px 12px;
  font-size: 26px;
  line-height: 37px;
  border-radius: 5px 5px 0 0;
}
