:root {
  --primary-text-color: #1f1f1f;
}

* {
  -webkit-tap-highlight-color: transparent;
}

*:focus {
  outline: none;
}

body {
  font-family: 'Inter', Helvetica, Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';
  overflow-y: scroll; /* Show scrollbars */
}

.dot-bg {
  --dot-bg: white;
  --dot-color: #999;
  --dot-size: 1px;
  --dot-space: 1rem;
  background: linear-gradient(
        90deg,
        var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
        transparent 1%
      )
      center / var(--dot-space) var(--dot-space),
    linear-gradient(
        var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
        transparent 1%
      )
      center / var(--dot-space) var(--dot-space),
    var(--dot-color);
}

nav {
  background-color: white;
  padding: 0 1rem;
}

nav > div {
  display: flex;
  padding: 1rem 0;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid transparent;
  color: var(--primary-text-color);
}

.user-details-container {
  margin-left: auto;
  display: flex;
}
#user-profile-photo {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  overflow: hidden;
}

#menu-container {
  padding: 1rem;
  display: flex;
}

#btn-open-newnote-modal {
  margin-left: auto;
}

.notes-container {
  margin: 0 auto;
  margin: 0.5rem;
}

.note-content {
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  transition: all 0.2s ease-in-out;
}

.note-content:hover {
  transform: scale(1.03);
  box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2),
    0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
}

.note-title {
  font-weight: 500;
  line-height: 2rem;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: var(--primary-text-color);
}

.note-content small {
  color: rgba(0, 0, 0, 0.6);
  font-size: 12px;
  line-height: 20px;
}

.note-text {
  display: -webkit-box;
  -webkit-line-clamp: 12;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-top: 1rem;
}

.btn-delete-card {
  background-color: transparent;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  float: right;
  margin-right: -0.5rem;
  margin-top: -0.5rem;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  border: 0;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.btn-delete-card:hover {
  background-color: #ff6961;
  color: white;
}

.grid-sizer,
.note-card {
  width: 25%;
  padding: 0.5rem;
  position: relative;
}

#dialog-sign-in[open] {
  overflow: visible;
  margin: auto;
  border: 0;
  padding: 1.5rem;
  width: 340px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

#dialog-sign-in > h3 {
  margin-bottom: 0.5rem;
}

#dialog-sign-in > button:last-child {
  margin: 0.5rem 0 0 0;
}

#btn-open-newnote-modal-mobile {
  visibility: hidden;
  border-radius: 100%;
  background-color: black;
  color: white;
  border: 0;
  height: 50px;
  width: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  align-self: flex-end;
}

@media only screen and (max-width: 375px) {
  .grid-sizer,
  .note-card {
    width: 100%;
  }
  .notes-container {
    padding-bottom: 5.2rem;
  }
  #btn-open-newnote-modal {
    display: none;
  }

  #btn-open-newnote-modal-mobile {
    visibility: visible;
  }
}

@media only screen and (min-width: 376px) and (max-width: 768px) {
  .grid-sizer,
  .note-card {
    width: 50%;
  }

  .notes-container {
    padding-bottom: 5.2rem;
  }

  #btn-open-newnote-modal {
    display: none;
  }
  #btn-open-newnote-modal-mobile {
    visibility: visible;
  }
}

#dialog-note-form {
  overflow: visible;
  margin: auto;
  border: 0;
  background-color: transparent;
  padding: 1.5rem;
  max-width: 100%;
  max-height: 100%;
}

#dialog-note-form[open] {
  animation: fade-in-from-bottom 0.3s;
}

#form-container {
  max-width: 720px;
  border-radius: 5px;
  padding: 1.5rem;
  background-color: #ffd966;
  box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.1);
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.391);
}

#dialog-note-form[open]::backdrop {
  /* background-color: rgba(0, 0, 0, 0.391); */
  animation: backdrop-fade 0.3s;
  animation-fill-mode: forwards;
}

@keyframes backdrop-fade {
  from {
    background: transparent;
  }
  to {
    background: rgba(0, 0, 0, 0.391);
  }
}

#input-note-text {
  border-bottom: 0;
  display: flex;
}

#input-note-title {
  width: 100%;
  background-color: transparent;
  border: 1px solid #fff;
  border-bottom: 0;
  padding: 15px 12px;
  font-size: 26px;
  line-height: 37px;
  border-radius: 5px 5px 0 0;
}

#btn-save-note {
  width: fit-content;
  margin: auto;
}

.form-separator {
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  padding: 0 12px;
}

.form-separator > hr {
  height: 1px;
  border: 0;
  background-color: #fff;
}

.btn-primary {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border-radius: 20px;
  padding: 0 30px;
  border: 0;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.btn-primary:hover {
  background-color: black;
  color: white;
}

.btn-delete-card > ion-icon {
  pointer-events: none;
  --ionicon-stroke-width: 2rem;
}

button > ion-icon {
  pointer-events: none;
  --ionicon-stroke-width: 1.3rem;
}

#loginStatus {
  display: flex;
  align-items: center;
}

.btn-color-filter {
  background-color: #ff6961;
  border: 0;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
}

#btn-color-popover {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

#dialog-button-options {
  display: flex;
  align-items: center;
  padding-top: 1.5rem;
  position: relative;
}

#popover-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: transparent;
  visibility: hidden;
}

#popover-overlay.active {
  visibility: visible;
}

#popover-dialog {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  position: absolute;
  bottom: 50px;
  background-color: white;
  box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2),
    0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  z-index: 11;
  visibility: hidden;
  padding: 0.5rem;
  max-width: 11.5rem;
}

#popover-dialog.active {
  visibility: visible;
}

.btn-color-option {
  border: 0;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin: 0.5rem;
  cursor: pointer;
}

.btn-color-menu-option {
  opacity: 0;
  border: 0;
  width: 40px;
  height: auto;
  aspect-ratio: 1/1;
  border-radius: 20px;
  margin-right: 1rem;
  cursor: pointer;
}
.btn-color-menu-option:last-child {
  margin-right: 0;
}

.btn-action-menu-option {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  padding: 0 20px;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
}

#colors-menu {
  display: flex;
  max-width: 100%;
}

#actions-menu {
  display: flex;
  max-width: 100%;
}

@keyframes fade-in-from-bottom {
  from {
    opacity: 0;
    transform: translateY(3ch);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in- {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#btn-user-actions {
  border: 0;
  background-color: transparent;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

#dialog-sign-out {
  position: absolute;
  left: auto;
  top: 4.6rem;
  padding: 1rem;
  border: 0;
  min-width: 260px;
  border-radius: 5px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

#dialog-sign-out[open] {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
#dialog-sign-out::backdrop {
  background-color: transparent;
}

.floating-btn-container {
  background-color: transparent;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding-bottom: 1rem;
  padding-right: 0.82rem;
  --_viewport-margin: 0.5vmin;
  position: fixed;
  z-index: var(--layer-1);
  inset-block: auto var(--_viewport-margin);
  inset-inline: auto var(--_viewport-margin);
}

.note-readable-date {
  font-size: 14px;
}

.btn-sign-in {
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border-radius: 20px;
  padding: 0 20px;
  border: 0;
  cursor: pointer;
  position: relative;
  width: 100%;
}

.btn-sign-in:hover {
  background-color: #000;
  color: #fff;
}

.btn-sign-in > ion-icon {
  position: absolute;
  left: 1rem;
}
