:root {
  --primary-text-color: #1f1f1f;
}

* {
  -webkit-tap-highlight-color: transparent;
}

*:focus {
  outline: none;
}

body {
  font-family: 'Inter', Helvetica, Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';
}

.dot-bg {
  --dot-bg: white;
  --dot-color: #999;
  --dot-size: 1px;
  --dot-space: 1rem;
  background: linear-gradient(
        90deg,
        var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
        transparent 1%
      )
      center / var(--dot-space) var(--dot-space),
    linear-gradient(
        var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
        transparent 1%
      )
      center / var(--dot-space) var(--dot-space),
    var(--dot-color);
}

nav {
  display: flex;
  background-color: white;
  color: var(--primary-text-color);
  padding: 1rem;
}

#menu-container {
  padding: 1rem;
  display: flex;
}

#btn-open-newnote-modal {
  margin-left: auto;
}

.notes-container {
  margin: 0 auto;
  margin: 0.5rem;
}

.note-content {
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  transition: all 0.2s ease-in-out;
}

.note-content:hover {
  transform: scale(1.03);
  box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2),
    0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
}

.note-title {
  font-weight: 500;
  line-height: 2rem;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: var(--primary-text-color);
}

.note-content small {
  color: #555;
}

.note-text {
  display: -webkit-box;
  -webkit-line-clamp: 12;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-top: 1rem;
}

.btn-delete-card {
  background-color: transparent;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  float: right;
  margin-right: -0.5rem;
  margin-top: -0.5rem;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  border: 0;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.btn-delete-card:hover {
  background-color: #ff6961;
  color: white;
}

.grid-sizer,
.note-card {
  width: 25%;
  padding: 0.5rem;
  position: relative;
}

@media only screen and (max-width: 375px) {
  .grid-sizer,
  .note-card {
    width: 100%;
  }
  #btn-open-newnote-modal {
    display: none;
  }
}

@media only screen and (min-width: 376px) and (max-width: 768px) {
  .grid-sizer,
  .note-card {
    width: 50%;
  }
  #btn-open-newnote-modal {
    display: none;
  }
}

#dialog-note-form {
  overflow: visible;
  margin: auto;
  border: 0;
  background-color: transparent;
  padding: 1.5rem;
  max-width: 100%;
  max-height: 100%;
}

#form-container {
  border-radius: 5px;
  padding: 1.5rem;
  background-color: #ffd966;
  box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.1);
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.391);
}

#input-note-text {
  border-bottom: 0;
  display: flex;
}

#input-note-title {
  width: 100%;
  background-color: transparent;
  border: 1px solid #fff;
  border-bottom: 0;
  padding: 15px 12px;
  font-size: 26px;
  line-height: 37px;
  border-radius: 5px 5px 0 0;
}

#btn-save-note {
  width: fit-content;
  margin: auto;
}

.form-separator {
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  padding: 0 12px;
}

.form-separator > hr {
  height: 1px;
  border: 0;
  background-color: #fff;
}

.btn-primary {
  height: 40px;
  border-radius: 20px;
  padding: 0 30px;
  border: 0;
  margin-left: auto;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.btn-primary:hover {
  background-color: #000;
  color: #fff;
}

button > ion-icon {
  pointer-events: none;
}

#loginStatus {
  display: flex;
  align-items: center;
}

.btn-color-filter {
  background-color: #ff6961;
  border: 0;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
}

#btn-color-popover {
  border: 1px solid white;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

#btn-color-popover:hover {
  background-color: red;
  border: 2px solid white;
}

#dialog-button-options {
  display: flex;
  align-items: center;
  padding-top: 1.5rem;
  position: relative;
}

#popover-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: transparent;
  visibility: hidden;
}

#popover-overlay.active {
  visibility: visible;
}

#popover-dialog {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  position: absolute;
  bottom: 50px;
  background-color: white;
  box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2),
    0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  z-index: 11;
  visibility: hidden;
  padding: 0.5rem;
  max-width: 11.5rem;
}

#popover-dialog.active {
  visibility: visible;
}

.btn-color-option {
  border: 0;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin: 0.5rem;
  cursor: pointer;
}

.btn-color-menu-option {
  border: 0;
  width: 40px;
  height: auto;
  aspect-ratio: 1/1;
  border-radius: 20px;
  margin-right: 1rem;
  cursor: pointer;
}
.btn-color-menu-option:last-child {
  margin-right: 0;
}

#colors-menu {
  display: flex;
  max-width: 100%;
}

#actions-menu {
  display: flex;
  max-width: 100%;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
